.svg{
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
  
.svg-circle-bg {
    fill: none;
}
  
.svg-circle {
    fill: none;
}

.svg-circle-text {
    font-size: 1.2rem;
    text-anchor: middle;
    margin-top: 30px;
    fill:#444;
    font-weight: bold;
}

.time-remaining  {
    font-size: 1.2rem;
    float: left;
    margin-top: -13px;
    color: #3F4656;
}